$columns: 12;

$gutter: .3rem;

.grid {
	display: grid;
	grid-template-columns: repeat(3,1fr);
	/*grid-template-columns: repeat(auto-fill, minmax(200px 1fr));*/
	grid-gap: 20px;
}
.wrapper{
	display: grid;
	grid-template-areas: 
    "header header header"
    "nav section aside"
    "footer footer footer";
	grid-template-rows: 80px 1fr 50px;
	grid-template-columns: 15% 1fr 18%;
	grid-gap: 5px;
  height: 100vh;
  margin: 10px;  
}

header {
	background: #CC0;
	grid-area: header;
}

nav {
	background: #0CB;
	grid-area: nav; 
}

section {
	background: #A0A;
	grid-area: section;    
}

aside {
	background: #00C;
	grid-area: aside; 
}

footer {
	background: #0A7;
	grid-area: footer;
}

.badge{
	position: relative;
	width: 28%;
	height: 240px;
	display: inline-block;
	margin: 1em;
	background: #ccc;
	border-radius: 8px;
	overflow: hidden;

	.title{
		font-family: "Montserrat", sans-serif;
		font-weight: bold;
		font-size: 1.7em;
		position: absolute;
		top: -8px;
		border-radius: 8px 8px 0 0;
		text-align: center;
		width: 100%;
		padding: 20px 0;
	  }
	  .subtitle{
		position: absolute;
		font-family: "Fjalla One", sans-serif;
		font-size: 1.8em;
		width: 100%;
		text-align: center;
		color: white;
		position: absolute;
		top: 115px;
		transition: all .3s;
		&:after{
			content: "★";
			display: block;
			font-size: 1.4em;
			position: relative;
			margin: 12px 0 0;
			transition: all .3s;
		  }
	  }
	  &:hover .subtitle:after{
		margin: -5px 0 0;
  }
  &:hover .subtitle{
		top: 100px;
  }
}

// blog 

.post-grid {
	display: grid;
	grid-auto-flow: dense;
	grid-gap: 2vw;
	grid-template-columns: repeat(6, 1fr);
	@media (max-width:768px) {
	  grid-template-columns: repeat(4, 1fr);
	}
	@media (max-width:460px) {
	  grid-template-columns: repeat(3, 1fr);
	}
  }
  .grid-item {
	background: #eee;
	color: white;
	padding: 10px;
		
	background-size: cover;
  }
  .hero-item {
	grid-row: span 2;
	grid-column: span 2;
	
  }
  .portrait-item {
	grid-row: span 2;
	
  }
  .landscape-item {
	grid-column: span 2;
	
	background-size: cover;
  }


.grid-layout {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(120px, 1fr));
    grid-gap: 10px;
    grid-auto-rows: minmax(120px, auto);
    grid-auto-flow: dense;
    padding: 10px;
}

.grid-item {
    padding: 1rem;
    font-size: 14px;
    font-weight: bold;
    text-transform: uppercase;
    color: #929796;
    background-color: #333;
    border-radius: 5px;
    &:nth-child(odd) {
        background-color: #424242;
    }
}
.span-2 {
    grid-column-end: span 2;
    grid-row-end: span 2;
}

.span-3 {
    grid-column-end: span 3;
    grid-row-end: span 4;
}


.container {
	width: 100%;
	max-width: 34rem;
	margin: 0 auto;
	padding-right: $gutter;
	padding-left: $gutter;
}

.fluid-container {
	max-width: 100%;
	padding-right: $gutter;
	padding-left: $gutter;
}

.row {
	position: relative;
	margin-right: -$gutter;
	margin-left: -$gutter;
}

.row:before,
.row:after {
	display: table;
	clear: both;
	content: '';
}

[class*='bit-'],
[class*='col-'],
[class*='pull-'],
[class*='push-'] {
	position: relative;
	float: left;
	width: 100%;
	min-height: 1px;
	padding: 0 $gutter;
}

@for $i from 1 through $columns {
	$bit-width: percentage(1 / $i);
	$col-width: percentage($i / $columns);
	.bit-s-0,
	.col-s-0 {
		width: 0;
	}
	.bit-s-offset-0,
	.col-s-offset-0 {
		margin-left: 0;
	}
	.bit-s-#{$i} {
		width: $bit-width;
	}
	.col-s-#{$i} {
		width: $col-width;
	}
	.col-s-push-#{$i} {
		left: $col-width;
	}
	.col-s-pull-#{$i} {
		right: $col-width;
	}
	.bit-s-push-#{$i} {
		left: $bit-width;
	}
	.bit-s-pull-#{$i} {
		right: $bit-width;
	}
	.col-s-offset-#{$i} {
		margin-left: $col-width;
	}
}

@media (min-width: 48rem) {
	.container {
		max-width: 60rem;
	}
	@for $i from 1 through $columns {
		$bit-width: percentage(1 / $i);
		$col-width: percentage($i / $columns);
		.bit-m-0,
		.col-m-0 {
			width: 0;
		}
		.bit-m-offset-0,
		.col-m-offset-0 {
			margin-left: 0;
		}
		.bit-m-#{$i} {
			width: $bit-width;
		}
		.col-m-#{$i} {
			width: $col-width;
		}
		.col-m-push-#{$i} {
			left: $col-width;
		}
		.col-m-pull-#{$i} {
			right: $col-width;
		}
		.bit-m-push-#{$i} {
			left: $bit-width;
		}
		.bit-m-pull-#{$i} {
			right: $bit-width;
		}
		.col-m-offset-#{$i} {
			margin-left: $col-width;
		}
	}
}

@media (min-width: 64rem) {
	.container {
		max-width: 75rem;
	}
	@for $i from 1 through $columns {
		$bit-width: percentage(1 / $i);
		$col-width: percentage($i / $columns);
		.bit-l-0,
		.col-l-0 {
			width: 0;
		}
		.bit-l-offset-0,
		.col-l-offset-0 {
			margin-left: 0;
		}
		.bit-l-#{$i} {
			width: $bit-width;
		}
		.col-l-#{$i} {
			width: $col-width;
		}
		.col-l-push-#{$i} {
			left: $col-width;
		}
		.col-l-pull-#{$i} {
			right: $col-width;
		}
		.bit-l-push-#{$i} {
			left: $bit-width;
		}
		.bit-l-pull-#{$i} {
			right: $bit-width;
		}
		.col-l-offset-#{$i} {
			margin-left: $col-width;
		}
	}
}


/* Visable and Hidden */

@media (min-width: 64rem) {
	.hidden-l {
		display: none;
	}
}

@media (min-width: 48rem) and (max-width: 64rem) {
	.hidden-m {
		display: none;
	}
}

@media (max-width: 48rem) {
	.hidden-s {
		display: none;
	}
}

//Breakpoint
@mixin breakpoint($point) {
	@if $point==desktop {
		@media (min-width: 64em) {
			@content ;
		}
	}
	@else if $point==tablet {
		@media (min-width: 48em) and (max-width: 64em) {
			@content ;
		}
	}
	@else if $point==mobile {
		@media (max-width: 48em) {
			@content ;
		}
	}
}

.invisible {
	visibility: hidden;
}

.hidden {
	display: none !important;
}


/* Misc */

.row.gutterless {
	margin-left: 0;
	margin-right: 0;
}

.gutterless {
	[class*='bit-'],
	[class*='col-'],
	[class*='pull-'],
	[class*='push-'] {
		padding-right: 0;
		padding-left: 0;
	}
}


// landing

