.product{
    background-color: $primary-color;
    text-align: center;
    border-radius: 10px;
    width: 250px;
    height: 360px;
    background-color: $light-grey;
    position: relative;
    overflow: hidden;
    box-shadow: rgba(10, 18, 20, 0.54902) 0px 4px 13px 3px;

    .product-name {
        padding-top: 30px;
        padding-bottom: 30px;
        font-size: 14px;
        color: $primary-color;
        background-color: $light-grey;
    }
  
    .product-menu {
        width: 250px;
        height: 360px;
        top: 80%;
        background-color: $primary-color;
        color: $red;
        position: absolute;
        -webkit-transition: all .7s;
        transition: all .7s;

        .product-price, .product-detail, .buy-now {
            width: 125px;
            height: 72px;
            line-height: 72px;
            font-size: 24px;
            float: left;
          }
        .buy-now, .product-detail {
            border-left: solid 1px $light-grey;
            cursor: pointer;
            transition: all .3s;
        }
        .buy-now:hover, .product-detail:hover {
            background-color: $red;
            color: white;
        }
        .product-detail{
            display: none;
        }
        .how-many {
            clear: both;
            width: 100%;
            height: 72px;
            padding: 18px;
            line-height: 25px;
            border-top: solid 1px $light-grey;
            border-bottom: solid 1px $light-grey;
          }
        .cancel {
            width: 100px;
            height: 72px;
            line-height: 72px;
            font-size: 18px;
            background-color: $red;
            color: white;
            float: left;
            cursor: pointer;
            transition: all .3s;
          }
        .cancel:hover {
            background-color: $red;
            color: white;
          }
        .add-to-cart {
            width: 150px;
            height: 72px;
            line-height: 72px;
            font-size: 18px;
            background-color: $primary-color;
            border-left: solid 1px $red;
            float: left;
            cursor: pointer;
            transition: all .3s;
        }
        .add-to-cart:hover {
            background-color: $red;
            color: white;
        }
          
    }

    .icon {
        display: block;
        .icon-background {
            width: 80px;
            height: 80px;
            line-height: 80px;
            background-color: $primary-color;
            position: absolute;
            top: 0px;
            left: -40px;
            transform: skewX(-45deg);
        }
        .shopping-cart {
            color: $red;
            display: block;
            position: absolute;
            top: 8px;
            left: 8px;
        }
    }

    .product-picture {
        overflow:hidden;
        top: 20%;
        img{
            max-width:100%;
            min-width: 250px;
            margin-top:10px;
          }
      }


}

.product-wrapper {
    -webkit-transition: all 0.7s ease;
    display: inline-block;
    float: left;
    margin: 2em 1em;
    height: 360px;
    transition: all 0.7s ease;
    -webkit-transform-style: preserve-3d;
            transform-style: preserve-3d;
    
}

.product-back {
    width: 250px;
    height: 360px;
    border-radius: 10px;
    background-color: #ddd;
    color: $red;
    text-align: center;
    margin: 0 auto;
    position: relative;
    overflow: hidden;
    box-shadow: rgba(10, 18, 20, 0.54902) 0px 4px 13px 3px;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    z-index: -1;
    top: -360px;
    -webkit-transform: rotateY(180deg);
    transform: rotateY(180deg);
    
    .check {
        color: $red;
        font-size: 32px;
        i, p{
            position: absolute;
            text-align: center
        }
        i{
            padding: 80px;
        }
        p{
            padding: 50px;
        }
    }

}

.back-is-visible{
    z-index: 10;
}

.cart > * {
    padding: 0 1em;
}
  
.cart {
    position: fixed;
    top: 0;
    height: 100%;
    width: 260px;
    padding-top: 50px;
    overflow-y: auto;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
    z-index: 3;
    right: -100%;
    background: white;
    transition: right 0.3s;
    h2 {
        font-size: 14px;
        font-size: 0.875rem;
        font-weight: bold;
        text-transform: uppercase;
        margin: 1.5em 0;
      }
    
    .cart-items {
        padding: 0;
        li {
            position: relative;
            padding: 1em;
            border-top: 1px solid #e0e6ef;
        }
        li:last-child {
            border-bottom: 1px solid #e0e6ef;
        }
    }
    .qty, .price {
        color: #a5aebc;
    }
    .price {
        margin-top: .4em;
      }
    .item-remove {
        position: absolute;
        right: 1em;
        top: 50%;
        bottom: auto;
        -webkit-transform: translateY(-50%);
        -moz-transform: translateY(-50%);
        -ms-transform: translateY(-50%);
        -o-transform: translateY(-50%);
        transform: translateY(-50%);
        width: 32px;
        height: 32px;
        border-radius: 50%;
      }
      .cart-total {
        padding-top: 1em;
        padding-bottom: 1em;
      }
      .cart-total span {
        float: right;
      }
      .cart-total::after {
        /* clearfix */
        content: '';
        display: table;
        clear: both;
      }
    .checkout-button {
        display: block;
        width: 100%;
        height: 60px;
        line-height: 60px;
        background: #222;
        color: #FFF;
        font-weight: 700;
        text-align: center;
      }
    .checkout-button:hover {
        background: #f00;
        color: #fff;
      }
      .go-to-cart {
        text-align: center;
        margin: 1em 0;
      }
      .go-to-cart a {
        text-decoration: underline;
      }
    
    span.qty {
        width: 75px;
        height: 75px;
        display: block;
        padding: 0;
        border: 0;
        border-right: 1px solid #333;
        background: rgba(0, 0, 0, 0.5);
        font-size: 2.5em;
        line-height: 75px;
        text-align: center;
        color: #fff;
        background-size: cover;
        background-repeat: no-repeat;
    }
}

.show-sidebar {
    right: 0;
    z-index: 20;
}

@media only screen and (min-width: 600px) {
    .cart {
      width: 350px;
    }
}

.shadow-layer {
    position: fixed;
    min-height: 100vh;
    width: 100vw;
    top: 0;
    left: 0;
    background: rgba(67, 87, 121, 0.6);
    cursor: pointer;
    z-index: 15;
    display: none;
    
  }

.is-visible {
    display: block;
    animation: cd-fade-in 0.3s;
}


.mega-menu::before {
    content: "";
    background-color: rgba(255, 255, 255, 1);
    background-size: cover;
  }
  
.mega-menu {
    background: rgba(255, 255, 255, 1);
    height: 100%;
    overflow: auto;
    position: absolute;
    top: -100%;
    transition: all 50ms cubic-bezier(0.420, 0.000, 0.580, 1.000);
    width: 100%;
    z-index: 20;
    label {
        position: absolute;
        top: -99999px;
        left: -99999px;
    }
    .close {
        float: right;
        margin: 10px 10px 0 0;
        span {
            background-color: $red;
            border-radius: 5px;
            border: 1px solid $red;
            color: rgba(255, 255, 255, 1);
            cursor: pointer;
            display: inline-block;
            font-family: "Open Sans", sans-serif;
            font-size: 2.25em;
            margin: 0;
            line-height: 28px;
            padding: 4px;
            text-align: center;
          }
    }

    .mega-search {
        display: inline-block;
        float: left;
        margin: 10px 0 10px 10px;
        min-width: 80%;

        input[type="search"] {
            background-image: url(data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZlcnNpb249IjEuMSIgeD0iMCIgeT0iMCIgdmlld0JveD0iMCAwIDI1IDI0LjciIHhtbDpzcGFjZT0icHJlc2VydmUiPjxwYXRoIGQ9Ik0xMC44IDBDNC45IDAgMCA0LjggMCAxMC44czQuOSAxMC43IDEwLjggMTAuN2MxLjggMCAzLjYtMC40IDUuMS0xLjMgMC4xIDAuMSAwLjMgMC4zIDAuNCAwLjRsMy4xIDMuMWMxLjIgMS4zIDMuMiAxLjQgNC41IDAuMyAxLjMtMS4xIDEuNC0zLjEgMC4zLTQuNCAtMC4xLTAuMS0wLjItMC4yLTAuMy0wLjNsLTMuMS0zLjFjLTAuMS0wLjEtMC4zLTAuMy0wLjUtMC40IDAuOC0xLjUgMS40LTMuMiAxLjQtNS4xQzIxLjcgNC44IDE2LjggMCAxMC45IDBMMTAuOCAwek0xMC44IDMuMWM0LjMgMCA3LjcgMy40IDcuNyA3LjcgMCAyLTAuNyAzLjktMiA1LjMgMCAwLTAuMSAwLjEtMC4xIDAuMSAtMC4xIDAuMS0wLjMgMC4zLTAuNCAwLjQgLTEuNCAxLjItMy4yIDEuOS01LjIgMS45IC00LjMgMC03LjctMy40LTcuNy03LjdTNi41IDMuMSAxMC44IDMuMUwxMC44IDMuMXoiIGZpbGw9IiNDQ0MiLz48L3N2Zz4=);
            background-position: 10px center;
            background-repeat: no-repeat;
            background-size: 25px 25px;
            border: 1px solid rgba(204, 204, 204, 1);
            border-radius: 5px;
            box-sizing: border-box;
            float: left;
            font-family: "Open Sans", sans-serif;
            font-size: 1em;
            line-height: 27px;
            margin: 0;
            padding: 5px 5px 5px 40px;
            width: 100%;
            -webkit-appearance: none;
          }
        input[type="search"]:focus {
            outline: none;
        }
      }
    .mega-menu-top {
        margin-bottom: 1em;
        overflow: hidden;
    }
    
    h3, .nav {
        clear: both;
        margin: 0 10px 10px 10px;
        list-style: none;
    }
    h3 {
        border-bottom: 1px solid #CCCCCC;
        font-size: 1.5em;
        font-weight: normal;
        margin: 0 10px 20px 10px;
    }
    .themes {
        clear: both;
        li {
            font-size: 1.15em;
            margin: 0 0 1em 0;
        }
        li:nth-child(odd) {
            float: left;
            width: 50%;
            margin-right: 5px;
        }
        li:nth-child(even) {
            float: right;  
            width: 48%;
          }
    }
    .themes:after, .footer:after {
        content: "";
        display: table;
        clear: both;
    }

    .footer {
        border-top: 1px solid #333;
        margin-bottom: 10px;
        padding-top: 1em;
        li {
            float: left;
            font-size: 0.85em;
            margin: 0 15px 0 0;
        }
      
      }
    .logo-footer {
        height: auto;
        margin: 1em 0 0 6px;
        background-color: #333;
    }
}
  
@media (min-width: 481px) {
    .mega-search {
      min-width: 87%;
    }
      
}
  
@media (min-width: 768px) {
    .mega-menu {
      height: 350px;
      top: -350px;

      .mega-search {
        min-width: 91%;
      }
      .top-nav {
        background-position: 0 12px;
        background-size: 250px auto;
      }
      .themes li:nth-child(odd), .themes li:nth-child(even) {
        float: left;
        width: 23%;
      }
    }
}
  
@media (min-width: 1025px) {
    .top-nav {
      background-position: 0 12px;
      background-size: 250px auto;
    }
    .mega-search {
      min-width: 94%;
    }
}

.mega-active {
    box-shadow: 0px 0px 10px 2px rgba(126, 161, 154, 1);
    top: 60px;
}


.minus, .plus{
    background: #222;
    color:#EE3B24;
    border: 1px solid #EE3B24;
    border-radius: 50%;
}

.minus:hover, .plus:hover{
    background: #EE3B24;
    color:#fff;
    border: 2px solid #fff;
    border-radius: 50%;
}

.quantity{
    text-align: center;
    font-weight: 700;
    border-radius: 10px;
}
